apiVersion: v1
kind: Secret
metadata:
  name: {{ .ClusterName }}-cloud-config
  namespace: {{ .Namespace }}
  labels:
    clusterctl.cluster.x-k8s.io/move: "true"
type: Opaque
data:
  # Base64 encoded clouds.yaml content
  clouds.yaml: {{ .CloudsYamlBase64 }}
  {{- if .CaCertBase64 }}
  cacert: {{ .CaCertBase64 }}
  {{- end }}
