apiVersion: infrastructure.cluster.x-k8s.io/v1beta1
kind: OpenStackMachineTemplate
metadata:
  name: {{ .ClusterName }}-controlplane-v1
  namespace: {{ .Namespace }}
spec:
  template:
    spec:
      flavor: {{ .CPFlavor }}
      identityRef:
        cloudName: openstack
        name: {{ .ClusterName }}-cloud-config
      image:
        filter:
          name: {{ .ImageName }}
      sshKeyName: {{ .SSHKeyName }}
      rootVolume:
        sizeGiB: {{ .CPVolumeSize | default 50 }}
        type: standard
        availabilityZone:
          from: Name
          name: {{ .AvailabilityZone | default "nova" }}
      {{- if .SecurityGroupID }}
      securityGroups:
        - id: {{ .SecurityGroupID }}
      {{- end }}
